%header#mainHead.gradientBack
  #logo
    =link_to '', root_path   
  #mainNavRow
    %nav#mainNav
      %ul
        =render partial: 'layouts/nav'
  = image_tag ('menuTrigger.png'), :class => "mobileNavTrigger onlyMobile"